/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h3,h4,h5,
h6,pre,form,fieldset,input,p,blockquote,table,
th,td { margin: 0; padding: 0; }
fieldset,img,abbr { border: 0; }
address,caption,cite,code,dfn,h1,h2,h3,
h3,h4,h5,th,var { font-style: normal; font-weight: normal; }
caption,th { text-align: left; }
q:before,q:after { content: ''; }
a { text-decoration: none; }

/* General */

html, body {
  height: 100%;
}

body {
  min-height: 400px; /* For Mozilla/Opera/Safari */
  font: 1em Georgia, Verdana, Sans-serif;
  background: url('img/bg_tile.jpg') 0 0 repeat #98756b;
}

/* Headings */

h1, h2 {
  padding: 35px 0 10px;
  font: 2em Georgia, Verdana, Sans-serif;
  text-align: center;
  letter-spacing: .2em;
  color: #600;
  text-shadow: 0 0 4px #fff5db;
}

h3 {
  padding: 10px 0 10px;
  font: 1.3em Georgia, Verdana, Sans-serif;
  letter-spacing: .2em;
  color: #066;
  text-shadow: 0 0 4px #fff5db;
}

/* Link */

a:link, a:visited {
  color: #600;
}

a:hover {
  border-bottom: 1px solid #000;
}

/* Content */

#header .wrapper {
  margin: 0 auto;
  width: 1000px;
  min-height: 100%;
}

#header #logo {
  width: 700px;
  height: 250px;
  background: transparent url('img/logo.png') no-repeat;
}

#header #intro {
  float: left;
  line-height: 1.9em;
  color: #fff3e3;
  text-shadow: 2px 2px 3px #000;
}

#header p {
  padding: 10px 0;
}

#main {
  padding-bottom: 20px;
  line-height: 1.9em;
  color: #000;
}

#main .wrapper {
  width: 900px;
  margin: 0 auto;
}

#main a {
  border-bottom: 1px dotted #000;
}

#main p {
  padding: 15px 0;
  text-shadow: 0 0 30px #fff5db;
}

#main ul, #main ol {
  margin: 10px 0 10px 30px;
}

#footer {
  height: 38px;
  font: bold .8em "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif;
  letter-spacing: .2em;
  color: #fff5db;
  background: #0e0c11;
}

#footer a:link, #footer a:visited {
  color: #98756b;
  text-decoration: none;
}

#footer a:hover {
  color: #777;
}

#footer .wrapper {
  width: 900px;
  min-height: 100%;
  margin: 0 auto;
}

#footer #main-nav {
  float: left;
  padding: 10px 0;
}

#footer #side-nav {
  float: right;
  padding: 10px 0;
}

/* Misc */

blockquote {
  margin: 0 20px;
  padding: 0 0 0 20px;
  border-left: 1px dotted #aaa;
  color: #777;
}

.center {
  margin: 15px auto;
  text-align: center;
}

img.left {
  float: left;
  margin: 15px;
}

img.right {
  float: right;
  margin: 15px;
}

img.border {
  padding: 2px;
  border: 1px solid #777;
}

.clear { clear: both; }

.separator {
  width: 900px;
  height: 1px;
  margin: 0 auto;
  background: transparent url("img/break.png") no-repeat;
}
